<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "jameshs.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm James Matthews. Welcome to My Music Closet.</h1>
		<p>You might be wondering about the name. Well, on January 2nd of 2016, my girlfriend and I moved in together in the Buckhead area of Atlanta, GA. It was a roomy 1 bedroom/1 bathroom place, but it suffered from not having any dedicated space for me to store my gear in a manner that would allow me to rehearse when needed.</p>

		<p>My girlfriend grew tired of fighting my basses and effect pedals for space on our couch  pretty quickly, so, one day while I was at work, she cleared out a closet at the end of our laundry hall and got to work. She rearranged the closet in such a way that I could easily access my music gear and actually plug in to my powered rig. I gotta admit that I was very impressed, and thus my music closet was born.</p>

		<p>"So what's this blog all about?" you might ask. Truthfully, it's a number of things. I recently left the business operations sector to begin a new career in web development. This site, as well as my others, is a chance for me to practice my dev skills on topics I enjoy. Music has been a crucial part of my life for nearly 14 years, and I'm hoping I can share my experiences to help younger players out as they start their own journey.

		<p>If you'd like to follow along in my musical and web development... development... then feel free to connect with me at <a href="http://jamesmatthews-webdeveloper.bitballoon.com/" target="_blank">my portfolio page</a> or at <a href="https://www.linkedin.com/in/james-f-matthews/" target="_blank">my LinkedIn profile</a>.</p>
	</div>
</div>